.friends {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    overflow: hidden;
  }
  .hover-friend.active {
    background-color: rgba(43, 51, 85, 0.569);
  }
  .hover-friend {
    &:hover {
      background-color: rgba(43, 51, 85, 0.569);
      cursor: pointer;
    }
    .friend {
      display: flex;
      width: 100%;
      padding: 7px 15px;
      .friend-image {
        .image {
          width: 45px;
          height: 45px;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .friend-name {
        display: flex;
        align-items: center;
        h4 {
          padding-left: 10px;
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }
}
